body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffffff;
    padding: 0;
}

/* Header styling */
header {
    margin-top: 30px;
    height: 136px;
    margin-left: 22px;
    margin-right: 22px;
    display: flex;
    box-shadow: #f0f0f0 0px 2px 4px;
    box-shadow: black;
    align-items: center;
    border-radius: 7px;
    justify-items: flex-start;

    .logo {
        /* Add styles for your logo image */
        margin-left: 25px;
        width: 296px;
        margin-top: 12px;
        height: 60px;
    }

    .hamburger {
        display: none;
        justify-content: flex-start;
    }

    /* laboratory name style */
    .lab-name {
        margin-left: 37px;
        font-size: 36sp;
        font-weight: bold;
        font-style: roboto;
        color: #5b5b5b;
    }

    .notification-bell {
        margin-left: auto;
        margin-right: 20px;
        margin-bottom: 12px;
        padding: 3px;
        width: 24px;
        height: 24px;
        justify-content: flex-end;
    }

    /* styling for the user name */
    .user_name {
        margin-left: 20px;
        font-size: 24sp;
        font-weight: bold;
        font-style: roboto;
        color: #5b5b5b;
    }

    /* styling for the user avatar/ display picture */
    .user_avatar_select {
        margin-left: 12px;
        margin-right: 18px;
        margin-bottom: 10px;
        width: 10px;
        height: 7px;
        justify-content: flex-end;
    }
}

.content-wrapper {
    display: flex;
    height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    margin-top: 21px;
    margin-left: 22px;
    width: 350px;
    background-color: #f9f9f9;
    box-shadow: 5px 0 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding: 15px;
    font-size: 26px;
    font-weight: medium;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    color: #5b5b5b;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Add styles for sidebar list items/ selections */
.sidebar li {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}


.sidebar li img {
    margin-left: 20px;
    margin-right: 10px;
    width: 19px;
    height: 22px;
}

.sidebar li:hover {
    cursor: pointer;
    border-bottom: 2px solid rgb(164, 14, 14); /* Add red line under the text */
    width: 500px; /* Set the width of the line to 100px */
}

/* Arrow Icon Styles */
.arrow-icon {
    position: absolute; 
    width: 15px; /* Set a fixed size for the arrow */
    height: 15px;
  }

/* Main Content Styles */
.main-content {
    margin-left: 31px;
    margin-right: 21px;
    height: 85%;
    flex: 1 0 auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    font: roboto;
    padding: 20px;
    margin-right: 30px;
    color: #5B5B5B;
    margin-top: 21px;
    position: relative;
}

/* Footer styling */
.footer {
    flex-shrink: 0;
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    color: #5b5b5b;
}

.breadcrumb {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    font-size: 18px;
    margin-right: 40px;
    font-weight: bold;
    color: #5b5b5b;
    text-align: right;
}


/* Navigation styles */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Container styles */
.container {
    display: flex;
}

aside {
    width: 200px;
    background-color: #f0f0f0;
    padding: 10px;
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

aside ul li {
    margin-bottom: 5px;
}

aside ul li a {
    text-decoration: none;
}

main {
    flex: 1;
    padding: 10px;
}

/* Footer styles */
.sidebar li:hover {
  
    cursor: pointer;
}

/* Main Content Styles */
.main-content {
    margin-left: 31px;
    margin-right: 21px;
    height: 85%;
    flex: 1 0 auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    font: roboto;
    color: #333;
    padding: 20px;
    margin-top: 21px;
    position: relative;
}

.footer {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    color: #5b5b5b;
}

/* Breadcrumb styles */
.breadcrumb {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    font-size: 18px;
    margin-right: 40px;
    top: 20px;
    font-weight: bold;
    color: #5b5b5b;
    /* Add this line to align the breadcrumb to the right */
}


/* Navigation styles */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Container styles */
.container {
    display: flex;
}

aside {
    width: 200px;
    background-color: #f0f0f0;
    padding: 10px;
}

aside ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

aside ul li {
    margin-bottom: 5px;
}

aside ul li a {
    text-decoration: none;
}

main {
    flex: 1;
    padding: 10px;
}

/* Footer styles */
footer {
    position: fixed;
    bottom: 0;
    width: 72.6%;
    height: 60px;
    margin-top: 21px;
    border-radius: 7px;
    text-align: center;
    color: grey;
    font: bold 18px/1.5 "Roboto", sans-serif;
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);/
}